@import "../../App.scss";
@import "../../mediaQueries.scss";

.fae--terms-and-conditions-page-container {
  @include flex(center, center);
  flex-direction: column;
  gap: $default-section-gap;
  width: 60%;
}
.fae--terms-and-conditions-page-container h1 {
  font-size: 17px;
  padding: 7px 1px;
}
.fae--terms-and-conditions-page-container h2, .fae--terms-and-conditions-page-container h3 {
  font-size: 15px;
  padding: 7px 1px;
}
.fae--terms-and-conditions-page-container p, .fae--terms-and-conditions-page-container ul {
  font-size: 14px;
  padding: 8px 0px;
}
@include tablet {
  .fae--terms-and-conditions-page-container {
    width: 80%;
  }
}

@include mobile {
  .fae--terms-and-conditions-page-container {
    width: 95%;
  }
}
