@import "../../App.scss";
@import "../../mediaQueries.scss";

.fae--cart-page-container {
  padding-top: 30px;
  @include flex(center, center);
  background-color: $container-bg-primary;
}

.fae--cart-page-wrapper {
  width: 55%;
  @include flex(center, center);
  flex-direction: column;
  gap: $default-section-gap;
}

.fae--cart-page-services-wrapper {
  width: 100%;
  position: relative;
  @include flex(center, center);
  flex-direction: column;
  gap: $default-section-gap;
}

@include smallDesktop {
  .fae--cart-page-wrapper {
    width: 80%;
  }
}

@include tablet {
  .fae--cart-page-wrapper {
    width: 90%;
  }
   
}

@include mobile {
  .fae--cart-page-wrapper {
    width: 95%;
  }
  
} 
.fae--cart-page-wrapper {
    border-radius: 5px 5px 0px 0px;
    width: 46%;
}
.fae--cart-answer{
    display: flex;
}
.fae--cart-page-wrapper{
    align-items: initial;
}
.fae-notes-text{
  text-align: center;
}
// .fae--cart-page-wrapper .fae--main-container{
//   width: initial;
//   padding-right: 38px;
// }
.fae-notes-text-field{
  height: 100px;
}
.fae-product-media{
  display: flex;
  padding: 20px 0px;
}
.fae-product-video{
 position: relative;
}
.fae-add-video svg, .fae-add-img svg { 
  color: #dc0000;
}
.fae-product-image{
  display: block;
}
.fae-add-video{
 background-color: initial;
 line-height: 27px;
 display: flex;
}
.fae-add-img{
  background-color: initial;
  line-height: 27px;
  display: flex;
}
.fae-notes-img-field{
   display: none;
}
.fae-product-image img, .fae-product-video video{
width: 100%;
  display: block;
  border-radius: 7px; 
  height: 204px; 
  margin-right: 14px;
  object-fit: cover;
}
 
 .fae-customize-attr-textarea {
  height: 87px;
  width: 98%;
  border: initial;
  padding: 7px;
  border-radius: 3px;
  background-color: #ffffffc7;
  margin-top: 10px;
}
.fae--cart-page-wrapper .fae--shadow-box{
  box-shadow: initial; 
}
.fae-product-media .fae-button { 
  padding: 5px 0px; 
}
.fae-customize-attr-textarea:focus{
  outline: initial;
  border: initial;
}
.fae--cart-answer, .fae--cart-question {
  padding: 0px 16px; 
}
.fae-add-text-label{
  padding-top: 19px;
}
.fae-product-video, .fae-product-image { 
  flex: 1 0 20%;
}
.fae-product-video  { 
  padding-right: 9px;
}
.fae-product-image { 
  padding-left: 9px;
}
.fae-play-icon{
  position: relative;
}
 
.fae-play-icon{
  position: absolute;
  top: 46%;
  bottom: 0;
  left: 40%;
  z-index: 9999;
  right: 0; 
  font-size: 51px;
  font-family: Arial Black, Gadget, sans-serif;
  background-image: -webkit-linear-gradient(left, #259fffe3, #03a9f4, #83c1dd);
  animation: animatedBackground_a 5s linear infinite alternate;
  color: white;
  border-radius: 50%;
  
}

@keyframes animatedBackground_a {
  0% { background-position: 0 0 }
  100% { background-position: -500px 0 }
}

.add-customized-pr-btn{
  text-align: center;
  padding: 13px 30px;
  border-radius: 2px;
  margin: auto;
  display: block;
  margin-top: 35px;
  font-size: 16px;
}

// services css here 
.fae--service-attributes-page-container {
  @include flex(center, center);
  background-color: $container-bg-primary;
}

.fae--service-attributes-page-wrapper {
  width: 50%;
  @include flex(center, center);
  flex-direction: column;
  gap: $default-section-gap;
}

.fae--service-attributes-page-attributes-form {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;
  gap: $default-section-gap;
}

.fae--service-attributes-button {
  width: 200px;
  height: 40px;
}

.fae--service-attributes-page-notes-wrapper {
  flex-direction: column;
  gap: 20px;
}

.fae--service-attributes-page-text-notes {
  width: 95%;
}

.fae--service-attributes-page-image-or-video-notes-wrapper {
  @include flex(space-between, center);
  width: 95%;
  gap: 20px;
}

.fae--service-attributes-page-add-wrapper {
  width: 100%;
}

.fae--service-attributes-page-images-or-videos {
  @include flex(space-between, center);
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 10px;
}

.fae--service-attributes-uploading-image-or-video-button {
  background-color: rgba(254, 242, 244, 1);
  border: solid 0.5px rgba(254, 185, 185, 1);
  @include flex(center, center);
  flex-direction: column;
  gap: 2px;
  padding: 5px 0;
}

.fae--service-attributes-uploaded-images-or-videos-wrapper {
  width: 95%;
  @include flex(center, flex-start);
  flex-direction: column;
  gap: 5px;
}

.line-break {
  border-bottom: solid 1px #ededed;
  padding-bottom: 10px;
}

.fae--services-attributes-page-already-uploaded-images-and-videos {
  @include flex(space-between, center);
  flex-wrap: wrap;
  row-gap: 10px;
}

.fae--service-attributes-custom-image-or-video-wrapper {
  width: 100%;
  height: 150px;
  @include flex(center, center);
}

.fae--service-attributes-custom-image-or-video-wrapper-main-container {
  width: 49%;
  position: relative;
}

.fae--service-attributes-custom-image-or-video-wrapper
  .fae--service-card-image-container {
  height: inherit;
  display: grid;
  overflow: hidden;
  border-radius: 5px;
}
.fae-space {
  padding: 10px !important;  
  background-color: white;
}
.fae--addresses-delete-icon-wrapper {
  position: absolute;
  width: 25px;
  height: 25px;
  @include flex(center, center);
  background-color: rgba(236, 30, 39, 1);
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
}

.fae--addresses-delete-stroke {
  width: 15px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

@include tablet {
  .fae--service-attributes-page-wrapper {
    width: 80%;
  }
}

@include mobile {
  .fae--service-attributes-page-wrapper {
    width: 95%;
  }
  .fae--cart-page-wrapper { 
    width: 92%;
 }  
 .fae--cart-page-container .fae--card-content {
  padding: 10px 6px;
}
.fae-cart-del-btn { 
  // margin-right: 10px;
  padding: 2px 3px;
  margin-bottom: 3px; 
  right: -7px !important; 
 }
}