@import "../../App.scss";
@import "../../mediaQueries.scss";

.fae--all-addresses-page-main-container {
  width: 100%;
  @include flex(center, none);
  flex-direction: column;
  gap: $default-section-gap;
  background-color: white;
  padding: 20px 11px 35px;
  border-radius: 4px;
  box-shadow:0px 0px 7px 0px #0808084d;
  padding: 1px 0px 35px;
  border-radius: 4px;
  box-shadow: initial;
}

.fae--all-addresses-addresses-wrapper {
  width: 100%;
  @include flex(space-between, center);
  flex-wrap: wrap;
  row-gap: $default-section-gap;
}
.fae--addresses-delete-icon-button {
  border: initial;
  background-color: red;
  border-radius: 20px;
  padding: 3px 7px 3px 7px;
  color: white;
}
.fae--all-addresses-add-button {
  cursor: pointer;
}

.fae--all-addresses-heading-button-wrapper {
  @include flex(space-between, center);
}

.fae--all-addresses-adrress-bar-wrapper {
  width: 47%;
  padding: 10px 10px;
  background-color: #fff;
  @include flex(center, flex-start);
  flex-direction: column;
  gap: 10px;
}

.fae-all-addresses-actions {
  @include flex(flex-end, center);
  gap: 10px;
  width: 100%;
}

.fae--all-addresses-action-icon {
  cursor: pointer;
}

.fae--all-addresses-page-original-address {
  font-size: 14px;
  font-weight: 300;
}

.fae--addresses-delete-icon-wrapper {
  width: 25px;
  height: 25px;
  @include flex(center, center);
  background-color: gray;
  border-radius: 50%;
}

.fae--addresses-delete-stroke {
  width: 15px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

.fae--all-addresses-notes-text {
  @include flex(center, center);
  gap: 5px;
}

.fae--al-addresses-notes-and-delete-icon-wrapper {
  @include flex(space-between, center);
  width: 100%;
}

@include tablet {
  .fae--all-addresses-adrress-bar-wrapper {
    width: 100%;
  }
}

.change-country-tab {
  background-color: #f4f4f417;
  color: #040404;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #00000012;
}
.change-icon{ 
  
    float: right;
    color: #599137; 
}

  

  .popup-content {
  width: 256px !important; 
  border-radius: 5px;
  padding: 22px !important;
  position: absolute !important;
  // left: 0;
  // font-size: 18px;
  // right: 0;
}
.close {
  float: right;
  top: 0;
  position: absolute;
  right: 7px;
  font-size: 31px;
  cursor: pointer;
}
.popup-arrow { display: none;}
[data-popup=tooltip].popup-overlay {
  background: #46333338;
}
 .popup-sure-btn{
   background-color: red;
   color: white;
   border-radius: 4px;
   text-align: right;
   padding: 5px;
   width: 30px;
   margin-left: auto;
   float: right;
   cursor: pointer;
   margin-top: 17px; 
   right: 17px;
 }
 
.popup-content-con{
    display: grid;
 } 
#popup-root .popup-content {
  top: 40%;
  bottom: 40%;
   height: 65px;
}
.change-icon svg { 
  font-size: 15px;
}

@include onlyDesktop {
  .change-country-tab { 
    width: 60%;
  }
 }
 @include mobile{
   #popup-root .popup-content {
     top: 40%;
     left: initial !important;
  }
 }