.fae-threeds-webview{
  text-align: center;
  padding:17rem 40px;
  font-weight: bold;
  font-size: 26px;
}
  .fae--main-container, .threeds-body-class .fae--navbar,  .fae--nav-bar-items-for-mobile-container , #zsiq_float, .threeds-body-class .CookieConsent{
    display: none !important;
 }