@import "../../App.scss";
@import "../../mediaQueries.scss";

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th { 
  padding: 8px;
}
 #customers tr {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  color:#8b8b8b
}

#customers tr:hover {background-color: #ddd;}
 
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f7f7f7ad;
  color: #00000085;
  font-weight: 600;
}