.bg_card1_s1
{
  transition: 0.2s;
  background-color: #D9BD3E;
  border-radius: 12px 0px 0px 12px;
  padding: 10px;
}

.bg_card2_s1
{
  transition: 0.2s;
  background-color: #1E185F;
  border-radius: 0px 12px 12px 0px;
  padding: 10px;
}
.bg_card1_s2
{
  transition: 0.2s;
  background-color: #1E185F;
  border-radius: 0px 12px 12px 0px;
}

.bg_card2_s2
{
  position: relative;
  // transition: 0.2s;
  background-color: #D9BD3E;
  border-radius: 12px 0px 0px 12px;
  transition-timing-function: steps(10);
  // transition-delay: 0.3;
  // transition-duration:0.7s;
  padding: 10px; 
}
.font_head_c1
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}

.font_para_c1
{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}
.btn_card_c1
{
  margin-top: 75%;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  border: 1px solid white;
  color: #D9BD3E;
  margin-left: -30px;
}

 

.btn_card_c2 {
  margin-top: 69%;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  border: 1px solid white;
  color: #1E185F;
  margin-right: -30px;
  position: absolute;
  z-index: 124;
  right: 12px;
}

 

@media screen and (max-width: 900px) {
  .btn_card_c1 {
    margin-top: 0px !important;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: 1px solid white;
    color: #D9BD3E;
    margin-left: -35px;
    position: relative;
    top: 8rem;
    bottom: 0;
  }
   

  .btn_card_c2 {
    margin-top: 0px !important;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: 1px solid white;
    color: #1E185F;
    margin-right: -35px;
    position: relative;
    z-index: 124;
    top: 8rem;
    right: -29px;
  }  
}