@import "../../App.scss";
@import "../../mediaQueries.scss";

.fae--sign-in-page-container {
  @include flex(center, center);
  background-color: $container-bg-primary ;
    padding-bottom: 22rem;
}

.fae--sign-in-page-wrapper {
  width: 60%;
  @include flex(center, center);
  flex-direction: column;
  gap: $default-section-gap;
}

.fae--forgot-password-send-code-form {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;
  gap: 10px;
}

@include tablet {
  .fae--sign-in-page-wrapper {
    width: 80%;
  }
}

@include mobile {
  .fae--sign-in-page-wrapper {
    width: 95%;
  }
  .fae--code-input {
    grid-gap: 20px;
    gap: 9px; 
 }
}
