@import "../../App.scss";
@import "../../mediaQueries.scss";

.faqs-wrapper {
  @include flex(center, center);
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.faq--accordion {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  position: inherit;
  width: 100%;
}

.faq--page-answers div p {
  font-size: 13px !important;
}

@include tablet {
  .faqs-wrapper {
    width: 80%;
  }
}

@include mobile {
  .faqs-wrapper {
    width: 95%;
  }
}
