@import "../../App.scss";
@import "../../mediaQueries.scss";

.fae--training-selection-page-main-container {
  @include flex(center, center);
  background-color: $container-bg-primary;
}
.fae--training-selection-page-main-container .paragraph {
  font-size: 15px ;
  font-weight: bold;
}


.fae--training-selection-page-wrapper {
  width: 60%;
  @include flex(center, center);
  flex-direction: column;
  gap: 30px;
}
.fae--price-text-original-price { 
  font-weight: bold;
  position: relative;
  top: -1px;
}
@include tablet {
  .fae--training-selection-page-wrapper {
    width: 80%;
  }
}

@include mobile {
  .fae--training-selection-page-wrapper {
    width: 95%;
  }
  .fae-training-bolder-text{
    font-size: 10px !important;
    font-weight: bold !important;
  }
  // .fae-training-grid {
  //   display: block !important;
  // }
}
